.ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 20px;
  }
  .nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: gray;
      padding: 20px;
  }
  .articleone {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.5jdfYpzBO0-Zf_3LNqQPKgHaEd%26pid%3DApi&f=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  .h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headingtwo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .special-heading {
      display: flex;
      flex-wrap: wrap;
  }
.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

    
        
        